name: Backend Tests

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]
jobs:
    tests:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
              
            - name: Setup JDK 21
              uses: actions/setup-java@v4
              with:
                distribution: 'temurin'
                java-version: '21'

            - name: Run Tests
              working-directory: blogger-backend/blogger
              run: mvn test