name: Backend Tests

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]
jobs:
    backed-testsd:
        runs-on: ubuntu-latest

        services:
          postgres:
            image: postgres:16
            ports:
              - 5432:5432
            env:
              POSTGRES_DB: mydb
              POSTGRES_USER: postgres
              POSTGRES_PASSWORD: postgres
              options: >-
                --health-cmd="pg_isready -U postgres"
                --health-interval=10s
                --health-timeout=5s
                --health-retries=5


        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup JDK 21
              uses: actions/setup-java@v4
              with:
                distribution: 'temurin'
                java-version: '21'

            - name: Run Tests
              working-directory: blogger-backend/blogger
              run: mvn test